BODY {
  background: url(../images/main_bg.jpg) 0 0;
}

.png {
  behavior: url("js/iepngfix.htc")
}

.clear {
  clear: both;
}

A:hover {
  text-decoration: underline;
}

#wrapper {
  width: 900px;
  margin: 0 auto 26px auto;
}

#header {
  
}
#header .top_contacts {
  margin: 13px 0 3px 0;
  color: #EEEEEE;
  text-align: right;
}
#header .top_contacts P {
  display: inline;
  margin: 0;
  font: 14px/20px arial;
}
#header .top_contacts P.border {
  padding-right: 9px;
  margin-right: 6px;
  border-right: solid 1px #494949;
}
#header .top_contacts SPAN {
  font-size: 18px;
}

#header .top_block {
  margin-bottom: 31px;
  overflow: hidden;
}
#header .top_block .logo {
  float: left;
  display: block;
  width: 363px;
  height: 131px;
  background: url(../images/logo.png) no-repeat 0 0;
  text-indent: -9999px;
}
#header .top_block UL {
  float: right;
  margin-top: 65px;
  overflow: hidden;
}
#header .top_block UL LI {
  float: left;
  margin-left: 12px;
  padding: 3px 6px;
  font: 15px/20px "arial narrow",arial;
}
#header .top_block UL LI.act {
  background: #5C5C5C;
}
#header .top_block UL LI A {
  color: white;
}
#header .top_block UL LI.act A {
  text-decoration: none;
}


#top_baner {
  width: 898px;
  margin: 0 auto;
  border-style: solid;
  border-color: #181818;
  border-width: 0 1px;
  overflow: hidden;
}


#content {
  
}
#content .header {
  background: url(../images/cont_header-bg.png) repeat-x 0 0;
  border-style: solid;
  border-color: #6A6A69;
  border-width: 1px 1px 0 1px;
  overflow: hidden;
}
#content .header H1 {
  float: left;
  margin: 7px 0 0 23px;
  padding: 0 29px;
  background: #121212;
  font: 24px/47px "arial narrow",arial;
  color: #EEECE6;
  white-space: nowrap;
}

#content .content {
  background: #EEECE6;
  border: solid 1px #8C8B87;
  overflow: hidden;
}
#content .content .left_col {
  float: left;
  width: 358px;
  padding: 45px 0 0 12px;
}
#content .content .left_col .left_fotos {
  
}
#content .content .left_col .left_fotos .foto_item {
  width: 280px;
  margin-bottom: 45px;
  overflow: hidden;
}
#content .content .left_col .left_fotos .foto_item IMG {
  margin: 10px 10px 5px 10px;
  box-shadow: 0 0 10px silver;
}
#content .content .left_col .left_fotos .foto_item .c1 {
  background: url(../images/foto_cur-1.png) no-repeat 0 0;
  overflow: hidden;
}
#content .content .left_col .left_fotos .foto_item .c2 {
  background: url(../images/foto_cur-2.png) no-repeat 100% 0;
  overflow: hidden;
}
#content .content .left_col .left_fotos .foto_item .c3 {
  background: url(../images/foto_cur-3.png) no-repeat 0 100%;
  overflow: hidden;
}
#content .content .left_col .left_fotos .foto_item .c4 {
  background: url(../images/foto_cur-4.png) no-repeat 100% 100%;
  overflow: hidden;
}
#content .content .right_col {
  float: right;
  width: 220px;
  padding: 60px 0 0 0;
  font: 16px "arial narrow",arial;
  color: #3D3D3D;
  text-align: center;
}
#content .content .right_col #vk_groups {
  
}
#content .content .cont_col {
  margin: 0 230px 0 370px;
}
#content .content .cont_col H2 {
  margin: 29px 0 8px 0;
  font: bold 20px/20px "arial narrow",arial;
  color: #424242;
}
#content .content .cont_col .cont_text {
  padding: 5px 20px 0 0;
  background: url(../images/content_text-bg.png) no-repeat 100% 0;
  font: 13px "arial narrow",arial;
  color: #3D3D3D;
}



#footer {
  padding-top: 18px;
  background: url(../images/footer_bg.png) repeat-x 0 0 #060606;
}
#footer .menu {
  font: 15px/15px "arial narrow",arial;
  text-align: center;
}
#footer .menu A {
  padding: 0 10px;
  color: white;
  text-decoration: underline;
}
#footer .menu A:hover {
  text-decoration: none;
}
#footer .copyright {
  width: 900px;
  margin: 0 auto;
  padding: 20px 0 7px 0;
  font: 10px/15px "arial narrow",arial;
  color: white;
  text-align: center;
}
#footer .copyright A {
  color: white;
}
#footer .powered {
  float: right;
  margin: 35px 10px 0 0;
  font: 12px/12px "arial narrow",arial;
  color: white;
}
#footer .powered A {
  color: white;
}
/*akcii*/


#content_inner {
  
}
#content_inner .actions {
  background: #6B6969;
  margin-bottom: 43px;
  overflow: hidden;
}
#content_inner .actions .action_item {
  padding: 7px;
  margin-bottom: 9px;
  overflow: hidden;
  background: #EEEEEE;
  border-top: 1px solid #BAB9B9;
  border-bottom: 1px solid #BAB9B9;
}
#content_inner .actions .last {
  margin-bottom: 0;
}
#content_inner .actions .action_item .act_foto {
  float: left;
  width: 258px;
  margin: 0 12px 0 0;
  background: red;
  overflow: hidden;
}
#content_inner .actions .action_item IMG {
  float: left;
}
#content_inner .actions .action_item .act_text {
  margin: 0 0 0 270px;
}
#content_inner .actions .action_item P {
  padding-bottom: 17px;
  margin: 0;
  font: 14px arial;
  color: #6B6969;
}
#content_inner .actions .action_item .last {
  padding-bottom: 0;
}
#content_inner .actions .action_item .act_data {
  margin: 0;
  padding-top: 15px;
  font: 12px arial;
  color: #9D9D9D;
  float: right;
}

/*akcii*/

/*novosti*/

#content_inner .news_block {
  
}
#content_inner .news_block .news_item {
  padding-top: 20px;
  margin-bottom: 55px;
  background: #EFECE7;
  position: relative;
}
#content_inner .news_block .last {
  
}
#content_inner .news_block .news_item .news_head {
  padding: 0 10px 0 8px;
  background: #EFECE7;
  font: bold 20px/27px arial;
  color: #3E3E3E;
  position: absolute;
  top: -7px;
  left: 0;  
}
#content_inner .news_block .news_item .news_head A {
  color: #3E3E3E;
  text-decoration: none;  
}
#content_inner .news_block .news_item .action_item {
  padding: 15px 17px 13px 11px;
  overflow: hidden;
  background: #EEEEEE;
  border-top: 1px solid #BAB9B9;
  background: url(../images/foto_cur-1.png) no-repeat 5px 10px;
}
#content_inner .news_block .news_item .last {
  margin-bottom: 0;
}
#content_inner .news_block .news_item .action_item IMG {
  float: left;
  margin: 0 18px 0 0;
  box-shadow: -2px 0 10px #DCD9D5;
}
#content_inner .news_block .news_item .action_item P {
  padding-bottom: 17px;
  margin: 0;
  font: 12px arial;
  color: #3D3D3D;
}
#content_inner .news_block .news_item .action_item .last {
  padding-bottom: 0;
}
#content_inner .news_block .news_item .action_item .news_more {
  display: block;
  padding: 0 11px 0 0;
  margin: 30px 0 0 0;
  background: url(../images/bg_news_more.jpg) no-repeat center right;
  font: 14px/16px arial;
  color: #3D3D3D;
  float: right;
}

/*novosti*/


/*obratnaya_svyaz*/

.contacts_head {
  padding-bottom: 18px;
  margin: 0 0 56px 140px;
  background: url(../images/bg_contacts_head.png) repeat-x bottom left;
  font: 18px arial;
  color: white;
}
.feedback_block {
  overflow: hidden;
  margin-bottom: 30px;
}
.feedback_block .left {
  float: left;
  padding: 20px 16px 0 0;
  font: bold 14px arial;
  color: white;
  text-align: right;
}
.feedback_block .left SPAN {
  display: block;
}
.feedback_block .left .feedback_name {
  padding: 12px 0 8px 0;
  margin-bottom: 6px;
}
.feedback_block .left .feedback_email {
  padding: 12px 0 8px 0;
  margin-bottom: 6px;
}
.feedback_block .left .feedback_tetxt {
  padding: 0 0 8px 0;
  margin-bottom: 6px;
}
.feedback_block .right {
  margin-left: 140px;
}
.feedback_block .right .necessarily {
  font: bold 12px arial;
  color: #969696;
  margin-bottom: 6px;
}
.feedback_block .right INPUT {
  display: block;
  margin-bottom: 6px;
  width: 728px;
  height: 32px;
}
.feedback_block .right TEXTAREA {
  width: 726px;
  height: 317px;
}
.feedback_block .right .send {
  float: right;
  border: 0;
  border-radius: 6px;
  width: 161px;
  height: 36px;
  background: url(../images/bg_send.png) repeat-x;
  font: bold 13px/30px arial;
  color: #3D3D3D;
  text-align: center;
  margin: 8px 28px 0 0;
  cursor: pointer;
}

/*obratnaya_svyaz*/
/*fotogallereya*/

.fotogallereya_block {
  overflow: hidden;
  margin-bottom: 31px;
}
.fotogallereya_block .fotogallereya_item {
  float: left;
  margin: 0 30px 107px 0;
  position: relative;
}
.fotogallereya_block .last {
  margin-right: 0;
}
.fotogallereya_block .last-bot {
  margin-bottom: 32px;
}
.fotogallereya_block .fotogallereya_item .item_foto {
  border: 1px solid #DCD9D5;
  box-shadow: 0 0 30px #121212;
  background: #F5F5F5;
  margin: 21px;
}
.fotogallereya_block .fotogallereya_item .item_foto IMG {
  padding: 6px;
  width: 214px;
  height: 165px;
  margin: 0 auto;
}
.fotogallereya_block .fotogallereya_item .increase {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.fotogallereya_block .fotogallereya_item .increase A {
  padding-right: 10px;
  background: url(../images/bg_more2.png) no-repeat center right;
  font: 12px arial;
  color: #636363;
  text-decoration: underline;
  text-align: center;
}
.fotogallereya_block .fotogallereya_item .increase A:hover {
  text-decoration: none;
}
.fotogallereya_block .galery_navi {
  float: right;
  font: 14px arial;
  color: #F5F5F5;
}
.fotogallereya_block .galery_navi A {
  color: #F5F5F5;
  text-decoration: underline;
}
.fotogallereya_block .galery_navi A:hover {
  text-decoration: none;
}
.fotogallereya_block .galery_navi .last {
  display: inline-block;
  padding-right: 10px;
  margin-left: 5px;
  background: url(../images/bg_more.png) no-repeat center right;
}
/*fotogallereya*/

/*o_brendah*/

.brednds_block {
  
}
.brednds_block .brends_item {
  margin-bottom: 88px;
  overflow: hidden;
}
.brednds_block .brends_item .left {
  width: 164px;
}
.brednds_block .brends_item .left IMG {
  float: left;
  border: 1px solid #8F8F8F;
}
.brednds_block .brends_item .right {
  margin-left: 231px;
}
.brednds_block .brends_item .right .brends_item-head {
  font: 20px/20px arial;
  color: white;
  padding-bottom: 7px;
  margin-bottom: 5px;
  background: url(../images/bg_brends_item-head.jpg) repeat-x bottom left;
}
.brednds_block .brends_item .right P {
  margin: 0;
  font: bold 13px arial;
  color: #6B6969;
}


/*o_brendah*/



































/*obratnaya_svyaz*/